.appContainer {
  position: relative;
  min-height: 100vh;
  background-color: #0b0c1a;
  color: #e0e0ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.appContent {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: rgba(15, 15, 35, 0.85);
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 0 15px rgba(112, 66, 255, 0.7);
  z-index: 10;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  letter-spacing: 0.06em;
  color: #b899ff;
  text-shadow: 0 0 5px #c8bfff;
}

@media (max-width: 1000px) {
  h1.title  {
    font-size: 1.4rem;
  }
}
.controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #1e1e2f;
  color: white;
  border: 1px solid #444;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
}

.select:hover,
.select:focus {
  border-color: #6cf;
}
